* {
  color: red;
  background-color: transparent;
}

body {
  background-image: url(../img/LoTRI.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

form, table {
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid red;
  
}

input {
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

table {
  width: 100%;
}
th, td {
  width: 16%;
  border: 2px solid red;
  text-align: left;
}

#submitButton {
  background-color: darkgrey;
  border: 2px solid red;
  font-weight: bold;
  display: block;
  width: 20em;
  margin: 10px auto;
}

.deleteBtn {
  background-color: darkgrey;
  border: 2px solid red;
  font-weight: bold;
  display: block;
  width: 5em;
  margin: 10px auto;

}

.sectionHeader {
  margin-bottom: .25em;
  
}